# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\TIS2-Turma2\Tabela_exemplo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
